@model PageViewModel

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" asp-route-page="@(Model.PageNumber - 1)" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><span class="page-link">@Model.PageNumber</span></li>
        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link" asp-route-page="@(Model.PageNumber + 1)">Next</a>
        </li>
    </ul>
</nav>