@model ProjectModel

@{
    ViewData["Title"] = $"Details {Model.Name}";
}

<h1>Details  @Model.Name</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiteLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiteLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DesktopAppLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DesktopAppLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AndroidAppLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AndroidAppLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IOSAppLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IOSAppLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">
        <button class="btn btn-dark">Back to List</button>
    </a>
</div>
