@model ProjectModel

@{
    ViewData["Title"] = $"Details {Model.Name}";
}

<h1>Details  @Model.Name</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiteLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiteLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DesktopAppLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DesktopAppLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AndroidAppLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AndroidAppLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IOSAppLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IOSAppLink)
        </dd>
    </dl>
</div>

<div class="d-flex flex-column align-items-center">
    @if (User.Identity.IsAuthenticated)
    {
        <button type="button" id="like" data-id=@Model.Id class="@(ViewBag.IsLiked ? "liked" : null)">
            <img src="~/images/like.svg" alt="Like" class="like" />
        </button>
    }
    else
    {
        <img src="~/images/like.svg" alt="Like" class="like" />
    }
    <span id="likesCount">@ViewBag.LikesCount</span>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>

@section Scripts{
    <script>
        $("#like").click(function (e) {
            e.preventDefault();
            let id = $(this).data("id");
            if ($(this).hasClass("liked")) {
                $.post("/projects/unlike?id=" + id, {}, function (data) {
                    console.log("unlike");
                    $("#like").removeClass("liked");
                    $("#likesCount").text(parseInt($("#likesCount").text()) - 1)
                });
            }
            else {
                $.post("/projects/like?id=" + id, {}, function (data) {
                    console.log("like");
                    $("#like").addClass("liked");
                    $("#likesCount").text(parseInt($("#likesCount").text()) + 1)
                });
            }

        })
    </script>
}
