@model ProjectsIndexViewModel

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<table class="table">
    @foreach (var project in Model.Projects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => project.SiteLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => project.DesktopAppLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => project.AndroidAppLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => project.IOSAppLink)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@project.Id">
                    <button class="btn btn-outline-dark">Details</button>
                </a>
            </td>
        </tr>
    }
</table>

<partial name="_Pagination" model="Model.Page"/>

